<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="border: 1px solid black">
   <tr th:each="showflowers: ${flowersVariable}"> <!-- "th:each"is used to iterate over collections of different object types.-->
        <td th:text="${showflowers}" /> <!--"th:text" is a thyme leaf attribute,and the value for a key sent from the controller is accessed using "${}" syntax-->
    </tr>
</table>

<table style="border: 1px solid black">
    <tr th:each="showCity: ${CityVariable}">
        <td th:text="${showCity}" />
    </tr>
</table>
</body>
</html>